<!DOCTYPE html>
<html>
<head>
    <title>Chatbot Interface</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="text-center">
        <h1 class="font-bold text-4xl">{{session['charactername']}} Chatbot Interface</h1>
    </div>
    <div class="container mx-auto mt-5 p-5 border border-gray-300 rounded bg-gray-100">
        {% for message in messages %}
            {% if message['sender'] == 'user' %}
                <div class="p-3 mb-2 rounded text-right bg-blue-200">
                    {{session['ownername']}}: <br>
                    {{ message['content'] }}
                </div>
            {% elif message['sender'] == 'bot' %}
                <div class="p-3 mb-2 rounded bg-gray-200">
                    {{session['charactername']}}: <br>
                    {{ message['content'] }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <form method="post" class="mt-5" style="max-width: 150vb; max-height: 60vh; margin: 20vb auto;">
        <div class="form-group">
            <label for="question">Ask question:</label>
            <textarea id="question" name="question" rows="4" class="form-control"></textarea>
        </div>
        <input type="submit" value="Ask" class="btn btn-primary">
    </form>
        <footer class="text-center bg-body-tertiary" style="margin-top: 20vh;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://twitter.com/debasish_1302"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="google.com"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.instagram.com/debasish_302"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://www.linkedin.com/in/debasish-tripathy-48441b1b5/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              href="https://github.com/debasishTripathy13/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Talentwin.com:
          <a class="text-body" href="main.html">DebasishTripathy13</a>
        </div>
        <!-- Copyright -->
      </footer>
      <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</body>
</html>
